<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Thymeleaf de layout</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
  <link rel="stylesheet" media="all" th:href="@{/css/menu.css}" />
</head>
<body>

  <div layout:replace="layout/navi::navbar"></div>
  <div id="content" class="clearfix">
    <div class="container">
      <div layout:fragment="content" th:remove="tag"></div>
    </div>
  </div>

  <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

</body>
</html>